.board-users {
  position: absolute;
  right: 90px;
  top: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
}

.board-users li {
  display: inline;
}

.rest-users__ready-wrapper {
  background-color: #00e7c2;
  border-radius: 22px;
  position: absolute;
  top: -4px;
  right: -10px;
  min-width: 25px;
  height: 16px;
  text-align: center;
}

.rest-users__ready-count {
  color: white;
  font-weight: 700;
  font-size: 12px;
  margin-left: 3px;
  margin-right: 1px;
  display: inline-block;
  vertical-align: top;
}

.rest-users__ready-icon-wrapper {
  display: inline-block;
}

.rest-users__ready-icon {
  width: 12px;
  height: 15px;
  margin-right: 2px;
}
